.no-mobile {
  position: fixed;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  background-image: url("../../image/ğ™’ğ™–ğ™™ğ™š.jfif");
  background-size: cover;
  color: white;
}
@media screen and (orientation: portrait) {
  .no-landscape {
      display: none;
  }
}
@media screen and (max-width: 550px) {
  .no-mobile-wide {
      display: none;
  }
}